/** Add css rules here for your application. */

.main-panel {
	background-color: rgb(255,250,240);
	border: 1px solid black;
	padding: 5px;
	padding-top-width: 10px;
}

.title-bar {
	background-color: rgb(200,200,250);
	padding: 2px;
}

